body {
  margin: 0;
  
  font-family: 'Open Sans', sans-serif;

  background: #2F2E41;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1083px;
  margin: 71px auto 101px;
}

ul {
  display: flex;
  gap: 64px;
  align-items: flex-start;
  list-style: none;

  font-family: 'JetBrains Mono', monospace;
  color:#FFFFFF
}

a {
  color: #ffff;
  text-decoration: none;
}

ul li a {
  opacity: 0.5;
}

ul li a:hover {
  font-weight: bold;
  opacity: 1;
}

h1, ul {
  font-family: 'JetBrains Mono', monospace;
}

main {
  display: flex;
  width: 1092px;
  justify-content: space-between;
  margin: 0 auto 157px;
}

h1 {
  color: #FFFFFF;
  font-family: 'JetBrains Mono', monospace;
  font-style: normal;
  font-size: 36px;
  
  line-height: 40px;
  text-align: center;

  margin: 0;
}

span {
  color: #00BFA6;
  
  font-family: 'JetBrains Mono', monospace;
  font-weight: bold;
}

section p {
  font-family: 'Open Sans';
  font-style: normal;
  
  font-size: 16px;
  line-height: 28px;
  text-align: center;

  color: #C2C2C2;

  font-size: 14px;
  line-height: 28px;
  margin: 0;
}


footer {
  width: 568px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 23px;

  color: #FFFFFF;
}

.line {
  width: 568px;
  height: 0px;
  right: 356px;
  left: 356px;
  top: 642px;
  bottom: 78px;

  margin-bottom: 27px;

  border: 1px solid #00BFA6;
}

#padlock {
  position: fixed;
  left: 20px;
  bottom: 20px;
}